.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    padding: 20px;
}

.gridItemWrapper {
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    color: rgb(27, 27, 27);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.gridItem img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 10px;
}